{% extends 'base.html.twig' %}
{% block title %}Fleur Index{% endblock %}
{% block body %}

    
<div class="row">
    <div class="col-lg-3">
        <div class="col-lg-12">
            <h1 class="my-4">Catalogue</h1>
            <div class="list-group">

            <a href='{{ path('index_catalogue') }}' class='list-group-item'>Toutes</a>
                
                {% for unecateg in lesCategories %}

                <a href='{{path('cat_fleurs', {id : unecateg.id}) }}' class='list-group-item'>{{unecateg.libelle}}</a>
                
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- /.col-lg-3 -->
        
       <div class="col-lg-9">

        <div class="row">
            
            {% for unefleur in lesFleurs %}

                <div class='col-lg-4 col-md-6 mb-3' style='margin-top:40px;'>
            <div class='card h-100'>
                <a href=''><img class='card-img-top' src=" {{ asset('Images/Fleurs/' ~ unefleur.photo )}}" alt=''></a>
                <div class='card-body'>
                    <h4 class='card-title'>
                        <a href=''>{{unefleur.designation}}</a>
                    </h4>
                    <h5>{{unefleur.prix}} €</h5>         
                </div>
                <div class='card-footer'>
                    <a href='index.php?page=panier&a=ajoutPanier&ref=$fleurs->RefFl' class='btn btn-success'><i class='fas fa-cart-plus'></i>  Ajouter</a>
                  </div>
            </div>
    </div>
            {% endfor %}

            
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.col-lg-9 -->

{% endblock %}